<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> SIVAKSIN </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Faskes')"></nav>
<div class="container">
    <br>
    <div class="card">
        <h6 class="card-header d-flex justify-content-center bg bg-info">
            Update Faskes
        </h6>
        <div class="card-body m-4 p-4">
            <div class="d-flex justify-content-center">
                <h2 th:text="'Faskes dengan nama ' + ${namaFaskes} + ' berhasil diubah'"></h2>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <a th:href="@{/faskes}">Kembali ke Daftar Faskes</a>
            </div>
            <br>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer('Faskes')"></footer>
</body>
</html>